body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: azure;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
 /* Buttons */
 .blackbutton{
   background-color: black;
   color: white;
   border-color: black;
   border-radius: 20%
 }

 .whitebutton{
   background-color: blanchedalmond;
   border-color: blanchedalmond;
   border-radius: 20%;
 }
