@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Romanesco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Cards */
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  display: flex;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Verticle columns */
@media screen and (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card1{
    width: 300px;
    margin-left: -100px;
  }
  .card2{
    width: 300px;
    margin-left: -100px;
  }
}

/* Styled Cards */
.card1 {
  padding: 16px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #201d1d;
  transition: 1s;
  height: 300px;
  font-size: 29px;
  box-shadow: 0 4px 8px 0 rgba(216, 206, 206, 0.342);
  letter-spacing: 2px;
  font-family: Sancreek, cursive;
  color: aliceblue;
}
.card1:hover{
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.795);
}
.card2 {
  padding: 16px;
  text-align: center;
  background-color: #9e9c9c;
  color: black;
  transition: 1s;
  height: 300px;
  font-family: Sancreek, cursive;
  letter-spacing: 2px;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(216, 206, 206, 0.342);
}
.card2:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.795);
   
}
/* NavBar */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  font-family: 'Creepster', cursive;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Creepster', cursive;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*Fonts */
.header{
  text-align: center; 
  color: white;
  /* font-family: 'Sancreek', cursive; */
  font-family: 'Creepster', cursive;
  font-size: 25px;
  letter-spacing: 2px;
}
/*a href */
.darkweb{
  display: block;
  text-decoration: none;
  color: white;
}
.internet{
  display: inherit;
  text-decoration: none;
  color: black;
}
.right{
  position: relative;
  bottom: 355px;
  left: 225px;
  transform: scaleX(-1) scale(1.5);
}